*{
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
}

#header{
    width: 100%;
    height: 100vh;
}

.logo{
    width: 50vh;
    margin-top: -14vh;
    margin-bottom: -17vh;
    margin-left: -300px;
}

.container{
    padding: 10px 0%;
    height: auto;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-around;
}
nav ul li{
    display: inline-flex;
    list-style: none;
    margin: 10px 8px;
    margin-right: -10px;
    padding-left: 10vh;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #7F00FF;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 5%;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    font-weight: bolder;
    filter: drop-shadow(2px 2px 0 #000);
}

.header-text h1 span {
   color: #7F00FF;
}

/* about me */
.row {
    display: grid;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    grid-template-columns: 25% 50% 25%;
}

.row-center {
    width: 100%;
}

.row-over-header {
    margin-top: -4vh;
    position: relative;
}

.about-col-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    z-index: 1;
    word-break: break-all;
    display: block;
    text-align: center;
}

.sub-title{
    font-size: 50px;
    font-weight: bolder;
}

#about {
    width: 100%;
    padding-left: 6vh;
    padding-right: 6vh;
    margin: 80px 0 0;
    color:#fff;
}

#about h1{
    text-decoration: underline;
}
/* Buttons */
.resume{
    width: 15em;
    justify-self: center;
}

.resume p{
     font-size: 30px;
     font-weight: bolder;
     padding-bottom: 10px;
     padding-left: 15px;
     text-decoration: underline;
     color: #fff;
     filter: drop-shadow(2px 2px #000);
}

.resume a{
    display: block;
    background: #7F00FF;
    padding: 15px 20px;
    margin-left: 10px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
    filter: drop-shadow(2px 2px 0 #000);
    justify-content: space-evenly;
}

#LinkedIn{
    margin-top: 10px;
}

.resume a:hover{
    color: whitesmoke;
    font-weight: bolder;
    text-decoration: underline;
    filter: grayscale();
}

.tab-titles{
    display: flex;
    margin: 20px 0 50px;
    justify-content: space-around;
    padding-left: 30px;
}

.tab-links{
    font-weight: bolder;
    filter: drop-shadow(2px 1px #000);
    font-size: 20px;
    cursor: pointer;
    position: relative; 
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #7F00FF;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #BE7FFF;
    font-size: 19px;
    font-weight: bolder;
    filter: drop-shadow(2px 2px #000);
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* Portfolio */
#portfolio{
    grid-column-start: 2;
    grid-column-end: 2;
    z-index: 1;
    display: block;
    text-align: center;
}

#portfolio h1{
    text-decoration: underline;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    margin-top: 20px;
}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.work-1{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 0px 15vh;
}

.work-1 img{
    width: auto;
    border-radius: 10px;

}

.work img{
    width: auto;
    border-radius: 10px;
    
}
.layer{
    padding: 0;
}